---
import DefaultLayout from "./DefaultLayout.astro";
const { frontmatter } = Astro.props;
---

<DefaultLayout title={frontmatter.title}>
	<section class="max-w-4xl mx-auto px-4 py-12">
		<h1
			class="text-4xl md:text-5xl font-extrabold text-center mb-4 text-gray-900 dark:text-white">
			{frontmatter.title}
		</h1>

		<p class="text-center text-gray-500 dark:text-gray-400 text-sm mb-8">
			Published on {new Date(frontmatter.pubDate).toLocaleDateString()}
		</p>

		<div class="flex justify-center mb-10">
			<img
				src={frontmatter.image.url}
				alt={frontmatter.image.alt}
				class="rounded-xl shadow-xl w-full max-w-6xl h-120 object-cover transition-transform duration-300 hover:scale-105"
			/>
		</div>

		<p
			class="text-center text-lg text-gray-600 dark:text-gray-300 mb-10 max-w-3xl mx-auto italic">
			{frontmatter.description}
		</p>

		<article class="prose dark:prose-invert max-w-none leading-relaxed text-[1.4rem]">
			<slot />
		</article>
	</section>
</DefaultLayout>
